// room-pageCSS
.room-content{
  margin-left: 30px;
  margin-right: 30px;
  width: 980px;
  padding-top: 80px
}

body { margin: 0; }

/* global styles */
video {
  background-color: #111;
  width: 100%;

}

.heading {
  text-align: center;
  margin-bottom: 0;
}

.note {
  text-align: center;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
}

/* p2p-media styles */
.p2p-media {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p2p-media .remote-stream {
  width: 50%;
}

.p2p-media .local-stream {
  width: 30%;
}

/* p2p-data styles */
.p2p-data {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 0 8px;
}

.p2p-data .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

/* room */
.room {
  display: grid;
  grid-template-columns: 70% 70% ;
  gap: 8px;
  margin: 0 8px;
}

.room .remote-streams {
  background-color: #f6fbff;
}

.room .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

h1, h2 {
    font-weight: 100;
  }
// top-pageCSS
  .text-white {
    color: rgb(70, 58, 58);
    text-align: left;
    margin-left: 100px;
    margin-top: 90px;
  }
  .sing-in-container {
    margin-top: 5px;
  }
  
  .btn-white {
    color:black;
    border: 1px solid #111;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);
  
    &:hover {
      color: #fff;
    }
  }

  .form-control {
    height: 45px;
  }
  
 
  .alert {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }

  .user-top-image {
    border-radius: 30%;
    width:  180px;
    height: 180px;
    border: 1px gray solid;
    text-align:center
  }

  .navbar-transparent {
    margin-bottom: 0px;

    a {
      color:black !important;
    }
  
    .navbar-brand {
      height: 60px;
      width: 120px;
      padding: 0px;
    }
  
    img {
      height: 40px;
    }
  }
  
  .slide{
    height: 450px;
    width : 100%;
  }
  .game-image{
    border-radius: 50%;
    width:  90x;
    height: 90px;
    border: 1px gray solid;
    text-align:center
  }

  .community-content {
  padding-top: 80px
  }   

  .game-Category {
    text-align: center;
  }

  .games {
    margin-left: 335px;
    margin-top: 100px;
    margin-bottom: 15px;
  }

  .play-user-vs {
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .user-list {
    margin-left: 335px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
// paly-guidexCSS
.paly-guide {
  margin-left: 60px;
  margin-top: 350px;
  margin-bottom: 15px;
}

// プロフィールCSS
  .my-page {
    padding-top: 100px;
    text-align:center
  }

  .my-image {
    border-radius: 20%;
    width:  200px;
    height: 200px;
    border: 1px gray solid;
    text-align:center
  }

  .profile-name {
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .profile {
    padding-bottom: 10px;
    
  }

  .profile-introduction {
    padding-bottom: 20px;
  }

  .profile-edit {
    font-size: 25px;
    text-align: center;  
    margin-top: 120px;
    margin-bottom: 20px;
  }

// ユーザー投稿CSS
.post-user-content{
 margin-left:70px ; 
 margin-right:70px ; 
}

.post-user {
  float: left;
  border: 0.5px gray solid;
  border-radius: 10px; 
  text-align: left;
  margin: 7px; 
}
.icon-image{
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: 200px;
}

.post-user-icon{
  border-radius: 10%; 
}

.user-post-name{
  font-size: 20px;
  margin-left: 20px;
}


.user-post-schedule{
  margin-left: 40px;
  margin-bottom: 5px;
}

.user-post-time{
  margin-left: 40px;
  margin-bottom: 5px;
}

.user-post-description{  
  margin-left: 20px;
  margin-bottom: 10px; }

.far {
  float: right;
  margin-right: 10px;
}

.new-post {
  margin-left: 200px;
}
 


.current_user {
  color: rgb(255, 255, 255);
  text-align: right;
  background-color: rgb(192, 35, 35);
  width: fit-content;
  margin: 10px 10px 10px auto;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-sizing: border-box;
  padding: 10px;
}

.visited_user {
  color: rgb(255, 255, 255);
  background-color: rgb(46, 165, 42);
  text-align: left;
  width: fit-content;
  margin: 10px 10px 10px 10px;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  -ms-border-radius:30px;
  -o-border-radius:30px;
  box-sizing: border-box;
  padding: 10px;
}

.follow-content {
  padding-top: 80px
}
.follow-image {
  border-radius: 50%;
  height: 70px;
  width: 70px; 
}
.follow-content,
.box-text{
  display: inline-block;
  vertical-align: bottom;
}
.follow-name{
  margin-left: 5px;
  font-size: 25px;
}
.follow-introduction {
  font-size: 15px;
  margin-left: 15px;
}

// dmcss
.dm-content {
  padding-top: 80px
}

.dm-image {
  border-radius: 50%;
  height: 70px;
  width: 70px; 
}

